$primary-text-black: #000;
$secondary-text-white: #fff;

$light-grey: #e0e0e0;
$deep-blue: #3c70a4;
$light-blue: #b3e5fc;
$blue-grey: #cfd8dc;
$green: #448414;
$grey: #616161;
$soft-grey: #f5f5f5;

$space-grey-opacity: rgba(54, 70, 78, 0.8);

$orange: #ed9a73;
$light-yellow: #e3c878;

$desktop: 1260px;
$tablet: 960px;
$mobile: 480px;
