{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "usage",
                "targets": {
                    "node": "10.15"
                },
                "corejs": "2"
            }
        ],
        "@babel/preset-react"
    ]
}