*,
*::after *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-settings {
  font-family: 'raleway', 'Encode Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 80.5%;
}

body {
  margin: 5rem;
  background-color: $soft-grey;
  box-sizing: border-box;
  @extend .font-settings;
  @include media('<tablet') {
    margin: 5rem 0 0 0;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
