.events {
  margin-top: 2rem;
  display: block;
  padding: 0 20%;
  min-width: 300px;
  &-wrapper {
    display: block;
  }
}

@include media('<desktop') {
  .events {
    padding: 0 5%;
  }
}

@include media('<tablet') {
  .events {
    padding: 0 1%;
  }
}

.marginTop {
  margin-top: 10rem;
}
