.events {
  margin-top: 2rem;
  display: block;
  padding: 0 20%;
  min-width: 300px;
  &-wrapper {
    display: block;
  }
  &--marginTop {
    margin-top: 10rem;
  }
}

@include media('<desktop') {
  .events {
    padding: 0 5%;
  }
}

@include media('<tablet') {
  .events {
    padding: 0 1%;
  }
}
