.filters {
  min-width: 100%;
  @include flex-config-container($direction: column, $justify: space-between);
  padding: 0 5rem;
  margin-top: 10rem;
  &__event-search {
    width: 25%;
    height: 25px;
    border: 2px solid $light-blue;
    border-radius: 4px;
    &:focus {
      outline: none;
    }
  }
  &__free-events {
    width: 25%;
    white-space: pre-wrap;
    margin-top: 1rem;
    .free-text:hover {
      color: $green;
    }
  }
}

@include media('<desktop') {
  .filters {
    padding: 0;
  }
}
