.topheader {
  @include position-config($position-type: fixed, $top: 0, $left: 0);
  background: white;
  width: 100%;
  border: 2px solid $blue-grey;
  z-index: 1;
  .navigation {
    padding: 2rem 20%;
    display: inline-block;
    &__link {
      @include font-config($size: 1.2rem, $weight: 400);
      padding-left: 2rem;
      color: $primary-text-black;
      text-decoration: none;
      white-space: nowrap;
      transition: all 0.2s;
      &:hover {
        color: $deep-blue;
      }
      &:focus {
        outline: none;
      }
    }
    .active {
      color: $deep-blue;
    }
  }
  &__logo {
    display: inline-block;
    padding-left: 3%;
    cursor: default;
    &--small {
      @include font-config($size: 1.2rem, $weight: 400);
    }
    &--large {
      @include font-config($size: 2.5rem, $weight: 500);
    }
  }
}
