/**
* base/ - contains global styles, such as resets, typography, colors, etc.
* components/ - contains each self-contained component in its own .scss partial
* layout/ - contains styling for larger layout components; e.g. nav, header, footer, etc.
* utils/ - contains global mixins, functions, helper selectors, etc.
* main.scss - output file that brings together all of the above parts
*/

//utils
@import 'utils/variables';
@import 'utils/mixins';
//base
@import 'base/index';

//components
@import 'components/event';
@import 'layout/app';
@import 'components/eventsSection';
@import 'components/eventList';
@import 'components/button';
//layout
@import 'layout/app';
